@{
    ViewBag.Title = "SQLite Test";
}

<div class="jumbotron">
    <h1>SQLite Hello World</h1>
    <p class="lead">Testing SQLite in a ASP.NET MVC Application.</p>
</div>

<div class="row">
    <div class="col-sm-4 col-md-3">
        <h2>Persons</h2>
        <a href="@Url.Action("Index", "Person")">Go to person list</a>
    </div>
    <div class="col-sm-4 col-md-3">
        <h2>Events</h2>
        <a href="@Url.Action("Index", "Event")">Go to event list</a>
    </div>
</div>