@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SQLite Hello World</h1>
    <p class="lead">Tester SQLite i MVC App.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Personer</h2>
        <a href="@Url.Action("Index", "Person")">Gå til personliste</a>
    </div>
</div>